<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/adminLayout :: htmlhead(title='BabyLog Edit Baby')"></head>
<body class="am-with-topbar-fixed-top am-scrollable-vertical">
<script>
    function vaildrequired(value,alerttxt)
    {

        if (value==null||value=="")
        {alert(alerttxt);return false}
        else {return true}

    }
    function vaildform(){//编辑宝贝表单验证
        var babyname = document.getElementById("user-name");//获取宝贝名字input对象
        //  var password = document.getElementById("user-password");//获取密码input对象
        // var usergm = document.getElementById("user-gm");//获取权限input对象
        // var amliy = document.getElementById("user-amilymembers");//获取家庭职位input对象
        // alert(height.value);
        if(vaildrequired(babyname.value,"宝贝名字不能为空不能为空")==false){
            babyname.focus();
            return false
        }
        // if(vaildrequired(password.value,"密码不能为空")==false){
        //     password.focus();
        //     return false
        // }
        // if(vaildrequired(usergm.value,"权限不能为空")==false){
        //     usergm.focus();
        //     return false
        // }
        // if(vaildrequired(amliy.value,"家庭职位不能为空")==false){
        //     amliy.focus();
        //     return false
        }
        //alert("test vaildform");
    }
</script>

<div th:replace="layout/adminLayout :: header"></div>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div th:replace="layout/adminLayout :: sidebar"></div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">

            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">Baby</strong> /
                    <small>Edit Baby</small>
                </div>
            </div>
            <hr>

            <div class="am-g am-g-fixed adduser">


                <form class="am-form am-form-horizontal" th:action="@{/admin/baby/updBaby}" onsubmit="return vaildform()">
                    <input type="hidden"  name="id"  th:value="${baby.id}">


                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-2 am-form-label">BabyName</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="user-name" name="name" placeholder="BabyName" th:value="${baby.name}">

                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-2 am-form-label">Partent</label>
                        <div class="am-u-sm-10">
                            <select  name="partent_id" id="partent_id">
                                <option th:each="partent : ${plist}" th:value="${partent.id}" th:text="${partent.name}"></option>
                            </select>
                            <!---->
                        </div>
                    </div>



                    <div class="am-form-group">
                        <label for="user-brithday" class="am-u-sm-2 am-form-label">brithday</label>
                        <div class="am-u-sm-10">
                            <input type="text" class="am-form-field" id="user-brithday" placeholder="请选择生日" data-am-datepicker readonly required name="brithday" th:value="${#calendars.format(baby.brithday,'yyyy-MM-dd')}"/>

                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="submit" class="am-btn am-btn-primary">提交数据</button>
                        </div>
                    </div>
                </form>

            </div>


        </div>
        <!-- footer-->
        <div th:replace="layout/adminLayout :: footer"></div>
    </div>


</div>
<!-- content end -->


</div>


</body>
</html>